input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.menu a {
    text-decoration: none;
    color: black
}
.menu a:hover {
    transform: scale(0);
    transition: tranform .3s ease-in-out;
    color: #FF5324;
}
.menu li {
    margin-right: 4rem;
    list-style: none;
    display: inline-block;
}
.menu li::after {
    content: "";
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #FF5324;
    transform: scale(0);
    transition: tranform .3s ease-in-out;
    position: absolute;
}
.menu li:hover:after {
    transform: scale(1);
}
.header {
    display: flex;
    max-width: 70rem;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
}
.menu {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.buttons {
    display: flex;
    min-width: 7rem;
    justify-content: space-between;
}
.back {
    background-color: #F9F6F4;
}
.pictures {
    min-height: 48rem;
    max-height: 55rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5rem 0 19rem;
}
.right {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 30px;
}
.right-text {
    max-width: 340px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}
.big-pic {
    align-self: flex-start;
    margin-top: 20px;
}
.left-text {
    max-width: 540px;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
}
.big-text {
    text-align: left;
    font-size: 78px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    line-height: 109px;
}
.bigger {
    color: #F54C1E;
}
.small-text {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    border-left: 2px solid #000000;
    padding-left: 22px;
    line-height: 39px;
}
.uzor {
    position: absolute;
    float: left;
    margin-top: 100px;
}
.uzorus {
    position: absolute;
    margin-top: 530px;
    margin-left: 140px;
}
.vector1 {
    position: absolute;
}
.vector2 {
    position: absolute;
    margin-top: 40px;
}
.vector3 {
    position: absolute;
    margin-top: 80px;
}
.vector4 {
    position: absolute;
    margin-top: 120px;
}
.design {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.marker {
    position: absolute;
    margin: 420px 0 0 800px;
}
.design-pictures {
    display: flex;
    margin-top: 30px;
}
.design-text-big {
    font-family: Montserrat, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0;
    text-align: left;
    max-width: 500px;
}
.design-text-small {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    max-width: 740px;
}
.cd {
    color: #F54C1E;
}
.block {
    margin-top: 40px;
    margin-left: 20px;
}